@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
html {
  font-size: clamp(8px, calc(16px * (100vw / 1920)), 16px);
}
@font-face {
  font-family: 'Mark the moment';
  src: url('/MarkTheMoment.otf');
}
:root {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.project {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 69.23%, rgba(0, 0, 0, 0.80) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.mark-the-moment {
  font-family: 'Mark the moment';
}
.service{
  transition: all 0.3s ease;
  border: 1px solid #000000;
  h4 {
    transition: all 0.3s ease;
  }
  p{
    transition: all 0.3s ease;
    opacity: 0;
  }
  div {
    transition: all 0.3s ease;
  }
  img {
    transition: all 0.3s ease;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
.service:hover{
  background-color: #ffffff;
  border: 1px solid #FF262660;
  h4 {
    color: #000000;
  }
  p {
    color: #000000;
    opacity: 1;
  }
}